
@{
    ViewBag.Title = "Login Page";
}
<script src="~/Scripts/BookMyTableNgJs/LoginController.js"></script>
@if (ViewBag.Message != null)
{
    <script>

            $(document).ready(function () {

                alert('@ViewBag.Message');

            });

    </script>

}
@*<div class="left_100" ng-controller="loginController">
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                     @using (Html.BeginForm("Login", "Index", FormMethod.Post))
                     {
                    <form id="loginform" class="form-horizontal" role="form" name="LoginPageFrom">

                        <p>Email</p>
                        <input type="email" class="email" name="email" placeholder="Email" required="" />
                        <p>Password</p>
                        <input type="password" class="password" name="Password" placeholder="Password" required="" />





                        <input type="submit" value="Login">
                        
                    </form>
                     }


                </div>
            </div>
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>



                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="email" placeholder="Email Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="Password">
                            </div>
                        </div>


                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp; Sign Up</button>
                            </div>
                        </div>

                        <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">

                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                            </div>

                        </div>



                    </form>
                </div>
            </div>




        </div>
    </div>

</div>*@

<!doctype html>
<html>
<head>

    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- //for-mobile-apps -->
    <link href="//fonts.googleapis.com/css?family=Abril+Fatface&amp;subset=latin-ext" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link href="~/Content/login/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    @*<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <script src="js/jquery-2.1.4.min.js"></script>*@
    <link href="~/Content/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Content/login/js/jquery-2.1.4.min.js"></script>
    @if (ViewBag.Message != null)
    {
        <script>

            $(document).ready(function () {

                alert('@ViewBag.Message');

            });

        </script>

    }
</head>
<body>
    <div class="content" id="Main-Content">

        <div class="w3ls-slider">
            <div class="hub-slider">
                <div class="hub-slider-slides">
                    <ul>
                        <li>
                            <div class="login-form login-form-left">
                                <div class="agile-row">
                                    <h2>Sign In</h2>
                                    <div class="login-agileits-top">
                                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                                        {
                                            <p>Email</p>
                                            <input type="email" class="email" name="email" placeholder="Email" required="" />
                                            <p>Password</p>
                                            <input type="password" class="password" name="Password" placeholder="Password" required="" />





                                            <input type="submit" value="Sign In">
                                        }
                                    </div>

                                    <div class="login-agileits-bottom">
                                        <h6><a href="#">Forgot password?</a></h6>
                                    </div>
                                </div>
                            </div>



                        </li>
                    </ul>
                </div>

            </div>
        </div>
       
        <!-- //copyright -->
        <script type="text/javascript" src="js/hubslider.js"></script>
    </div>
</body>
</html>
